@use 'sass:math';
@use './variables';

.container {
  margin: 0px auto;
  max-width: 1600px;
  padding: 0px spacing(4);
}

@function spacing($space) {
  @return $space * 4px;
}

@function to-rem($sizePx) {
  @return math.div($sizePx, 18) + rem;
}
