// Colors
$primary-color: #e77e23;
$main-background: #f8f8f6;
$text-color: #333333;
$link-text-color: #4d4d4d;

// Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Fonts
$font-size: 18px;
$mobile-font-size: 16px;

// Z-Indexes
$navbar-z-index: 100;
$modal-z-index: 200;
