@use './variables' as variables;
@use './reset' as *;
@use './utilities' as *;
@use './mixins' as *;
@use './buttons' as *;

html {
  background-color: $main-background;
  font-size: $mobile-font-size;

  @include lg {
    font-size: $font-size;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

a {
  color: $link-text-color;
}
